html{
/*    background-color: darkgrey;*/
    margin: 0;
    padding: 0;
}
.container{
/*    background-color: darkgrey;*/
}
h1.title-head{
    text-align: center;
    padding-bottom: 10px;
}
h1.category{
    padding-left: 10px;
}
h3.category{
    padding-left: 10px;
}
p.category{
    padding: 20px;
}
img.category{
    padding: 10px;
    max-width: 100%;
}